<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXHpp8MVF1md7AxFVcvTL2z_7voOigWMiWJA&s"
            cardTitle="Big card Title"
            cardDescription="Contrary to popular belief, Lorem Ipsum is not simply random text. 
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor 
            at Hampden-Sydney College in Virginia, looked up one of the more 
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and 
            going through the cites of the word in classical literature, 
            discovered the undoubtable source. Lorem Ipsum comes from sections 
            1.10.32 and 1.10.33 of de Finibus Bonorum et Malorum 
            (The Extremes of Good and Evil) by Cicero, written in 45 BC. 
            This book is a treatise on the theory of ethics, very popular 
            during the Renaissance. The first line of Lorem Ipsum, Lorem ipsum dolor sit amet"
        >
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            cardTitle="Small Card Title 1"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxNwbpBb0Ik1rtqYZToKwvSQWQ_awbQxLU3g&s"
        ></app-small-card>
        <app-small-card
            cardTitle="Small Card Title 2"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfPmQBna8bWHacXMA8s7n8r6sBI6Ave1FkSg&s"
        ></app-small-card>
        <app-small-card
            cardTitle="Small Card Title 3"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRntmuA_LMirlvS4fX9-H1gyI4NIIughOnWqg&s"        
        ></app-small-card>
    </div>
</div>